body{
  padding-top: 7vh;
  padding-bottom:7vh;
}
.sectionleft {
  width: 15%;
  margin-bottom: 20px;
  float: left;
  height: 84vh;
  overflow: auto;
}

.sectionright {
  width: 84%;
  margin-bottom: 20px;
  float: right;
  border-left: 1px rgba(128, 128, 128, 0.3) solid;
  height: 84vh;
  overflow: auto;
  background-color:rgb(245, 245, 245) ;
}
section {
  clear: both;
}
.image {
  margin: 30px auto;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}
.image img {
  border-radius: 100%;
  width: 200px;
  height: 200px;
}
.username {
  text-align: center;
  border-bottom: 30px;
}
.slogan {
  text-align: center;
  font-size: 10px;
}
.sectionleft button {
  width: 200px;
  text-align: center;
  margin: 20px auto 0 auto;
  display: block;
  border-radius: 50px;
  background-color: rgba(57, 209, 179, 0.4);
  cursor: pointer;
  transition: 0.3s;
}
.sectionleft button:hover {
  background-color: rgba(45, 188, 159, 0.8);
}

/* Create an active/current tablink class */
.sectionleft #post {
  background-color: rgba(45, 188, 159, 0.8);
}

/* Style the tab content */

.title{
  padding: 20px 0 10px 0;
  color: rgba(128, 128, 128, 0.6);
}
#content_list li{
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin: 10px;
  color: black;
}
#content_owner_icon{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-top: 20px;
  object-fit: cover;
}
#content_owner{
  font-weight: 700;
  margin-top: 10px;
}
#content_info{
  margin-top: 20px;
}
#content_post_date{
  color: rgba(128, 128, 128, 0.8);
  display: flex;
}
#content_post_text{
  display: flex;
}
#content_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
#content_wrapper input{
  width: 500px;
  height: 250px;
}
.submit{
  margin: 10px 10px 10px;
  width: 120px;
  color:white;
  background-color: #39d1b366;
}
.submit:hover{
  color:white;
  background-color: #2dbc9fcc;
}
.submit i{
  margin-left: 10px;
}
.cancel{
  margin: 10px 10px 10px;
  width: 120px;
  color:white;
  background-color: rgba(240, 95, 64,0.4);
}
.cancel:hover{
  color:white;
  background-color: rgba(235, 56, 18,0.8);
}
.cancel i{
  margin-left: 10px;
}