/*///////////////////////////////////////////////////////////////////////////// Navbar /////////////////////////////////////////////////////////////////////////////*/
nav {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
    background-color: white;
}
#logo_btn img{
    width: 70px;
    margin-left: 10px;
    margin-right: 10px;
}
#search {
    justify-content: center;
}
#burger{
    color: rgba(13, 110, 253, 0.5);
}
#burger .navbar-toggler-icon {
    background-image: url("/image/btn/setting_btn.png");
}
#page {
    justify-content: right;
    color:  rgb(13, 110, 253)
}
#page a{
    opacity: 0.5;
}
#page a:hover{
    opacity: 1;
}
#page a img{
    width: 30px;
    margin-right: 5px;
}
#page a span{
    color: rgb(13, 110, 253)
}

/*///////////////////////////////////////////////////////////////////////////// Navbar /////////////////////////////////////////////////////////////////////////////*/
