/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
html {
  min-height: 100%;
  overflow: hidden;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

body {
  margin: 0px;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.center {
  background-color: rgba(85, 85, 85, 0.541);
  border-radius: 20px;
  margin-top: 15%;
  padding:20px 0;
  font-family: "VT323", monospace;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  padding: 75px 30px;
}

.logo{
    border-right: 2px solid black;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.description{
    border-right: 2px solid black;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 6;
    font-size: 30px;
}
.login{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 20px;
}
.inputarea{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 6;
    font-size: 15px;
}