#info_page{
    padding: 10px 10px 10px 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    clip-path: inset(0px -15px 0px 0px);
}
#edit_page{
    padding: 10px 10px 10px 10px;
}
#icon {
    margin-top: 5vh;
}
#icon a img {
    height: 200px;
    width: 200px;
    object-fit: contain;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
    border-radius: 100%;
}
#icon a img:hover {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8);
}
.message{
    margin-top: 20px;
    color:  rgba(0, 0, 0,0.4);
}
.subscriber a{
    color:  rgba(0, 0, 0,0.5);
    margin-bottom: 10px;
    text-decoration: none;
}
.subscriber a span{
    padding-right: 5px;
}
.subscriber a:hover{
    color:  rgba(0, 0, 0,1);
}
#subscriber {
    display: flex;
    justify-content: right;
}
#followers{
    display: flex;
    justify-content: left;
}
.edit{
    margin-left: 40px;
    width: 100px;
    color:white;
    background-color: rgba(13, 110, 253,0.4);
}
.edit:hover{
    color:white;
    background-color: rgba(13, 110, 253,0.8);
}
.logout{
    margin-left: 40px;
    width: 120px;
    color:white;
    background-color: rgba(240, 95, 64,0.4);
}
.logout:hover{
    color:white;
    background-color: rgba(235, 56, 18,0.8);
}
.album{
    margin-left: 40px;
    width: 120px;
    color:white;
    background-color: rgba(57, 209, 179,0.4);
}
.album:hover{
    color:white;
    background-color: rgba(45, 188, 159,0.8);
}
.info{
    color:  rgb(0, 0, 0);
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info p{
    margin-top: 10px;
    font-weight: 700;
    display: flex;
    justify-content: right;
}
.info a i{
    margin-left: 10px;
}

