/*////////////////////////////////////////////////////////////////////////// Google Fonts //////////////////////////////////////////////////////////////////////////*/
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
/*////////////////////////////////////////////////////////////////////////// Google Fonts //////////////////////////////////////////////////////////////////////////*/
/* Global */
html {
  min-height: 100%;
  overflow: hidden;
}

canvas {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

body {
  margin: 0px;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.center {
  border-radius: 20px;
  font-family: "VT323", monospace;
  text-align: center;
}

.center p {
  font-size: 25px;
  font-weight: bold;
  padding: 30px 0 15px 0;
  text-decoration: underline;
}

.form {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  padding: 0 30px 30px 30px;
  text-align: left;
}
.email {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: 0 10px 10px 0;
  padding-left: 100px;
}
.SecurityQ1 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: 0 10px 10px 0;
  padding-left: 100px;
}
.password {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 0 10px 10px 0;
  padding-left: 100px;
}
.SecurityAns1 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 0 10px 10px 0;
  padding-left: 100px;
}

.password2 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  margin: 0 10px 10px 0;
  padding-left: 100px;
}
.SecurityQ2 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
  margin: 0 10px 10px 0;
  padding-left: 100px;
}
.displayname {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
  margin: 0 10px 10px 0;
  padding-left: 100px;
}
.SecurityAns2 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 5;
  margin: 0 10px 10px 0;
  padding-left: 100px;
}
.SecurityQ3 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 6;
  margin: 0 10px 10px 0;
  padding-left: 100px;
}
.gender {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 7;
  margin: 0 10px 10px 0;
  padding-left: 175px;
  display: inline;
}
.SecurityAns3 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 7;
  margin: 0 10px 10px 0;
  padding-left: 100px;
}

button {
  margin-bottom: 50px;
  text-align: center;
  border-radius: 50px;
  background-color: rgb(57, 209, 179);
}

button:hover {
  background-color: rgb(45, 188, 159);
}
body {
  /* background-image: radial-gradient(circle, #000 25vmin, #024 100vmax); */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#output {
  background-image: radial-gradient(
    circle farthest-corner at 75% 75%,
    rgba(255, 255, 239, 0.3) 0%,
    rgba(223, 245, 255, 0.3) 50%,
    rgba(205, 191, 255, 0.3) 100%
  );
  border-radius: 100%;
  color: rgba(0, 194, 184, 0.6);
  font-family: "Inconsolata", monospace;
  font-size: 3vmin;
  line-height: 0.55em;
  text-rendering: optimizeSpeed;
  will-change: contents;
  white-space: pre;
  z-index: -1;
  position: absolute;
}

#bg {
  background-color: rgb(245, 245, 245);
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -2;
}
