<div>
    <div class="sectionright">
        <div class="image">
            <img src="{{icon}}" id="icon_img">
        </div>
        <p class="username">User1</p>
        <button class="tablinks" onclick="FunctionSelect(event, 'Group')">Group</button>
        <button class="tablinks" onclick="FunctionSelect(event, 'Follower')">Follower</button>
        <button class="tablinks" onclick="FunctionSelect(event, 'Chatroom')">Chatroom</button>
        <button class="tablinks" onclick="FunctionSelect(event, 'Setting')">Setting</button>
    </div>
    <div class="sectionleft">
    </div>
</div>