<link rel="stylesheet" href="../css/chatroom.css">
<div>
    <div class="sectionleft">
        <div class="image">
            <img src="{{icon}}" id="icon_img">
        </div>
        <h4 class="username">{{username}}</h4>
        <p class="slogan">{{slogan}}</p>
        <button class="tablinks" onclick="SelectFunction(event, 'welcome')" id="defaultOpen">Post</button>
        <button class="tablinks" onclick="SelectFunction(event, 'Group')">Group</button>
        <button class="tablinks" onclick="SelectFunction(event, 'Follower')">Follower</button>
        <button class="tablinks" onclick="SelectFunction(event, 'Chatroom')">Chatroom</button>
        <a href="setting" style="text-decoration:none"><button>Setting</button></a>
    </div>
    <div class="sectionright">
        <div id="welcome" class="tabcontent">
            <h3>Welcome</h3>
            <p>Welcome page</p>
        </div>
        <div id="Group" class="tabcontent">
            <h3>Group</h3>
            <p>Group List</p>
        </div>
        <div id="Follower" class="tabcontent">
            <h3>Follower</h3>
            <p>Follower List</p>
        </div>
        <div id="Chatroom" class="tabcontent">
            <div id="chatty">
                <button id="join">Join a room</button>
            
                <div id="chat-window">
                    <div id="output"></div>
                </div>
            
                <div id="echo">
                    <p>&nbsp</p>
                </div>
                <input type="text" id="message" placeholder="Message" />
                <button id="send">Send</button>
            </div>
        </div>

    </div>
</div>
<script src="../js/index.js"></script>