<link rel="stylesheet" href="../css/chatroom.css">
<div>
    <div class="sectionleft">
        <div class="image">
            <img src="{{icon}}" id="icon_img">
        </div>
        <h4 class="username">{{username}}</h4>
        <p class="slogan">{{slogan}}</p>
        <button class="tablinks" onclick="SelectFunction(event, 'Post')" id="post">Post</button>
        <button class="tablinks" onclick="SelectFunction(event, 'Group')"id="group">Group</button>
        <button class="tablinks" onclick="SelectFunction(event, 'Follower')"id="follower">Follower</button>
        <button class="tablinks" onclick="SelectFunction(event, 'Chatroom')" id="chatroom">Chatroom</button>
        <a href="setting" style="text-decoration:none"><button>Setting</button></a>
    </div>
    <div class="sectionright">
        <div id="Post" class="tabcontent">
            <h3>Post Note</h3>
            <p>Post Note</p>
        </div>
        <div id="Videos" class="tabcontent">
            <h3>Videos</h3>
            <p>Videos List</p>
        </div>
        <div id="Follower" class="tabcontent">
            <h3>Follower</h3>
            <p>Follower List</p>
        </div>
        <div id="Chatroom" class="tabcontent">
            <ul class="pages">
                <li class="chat page">
                    <div class="chatArea">
                        <ul class="messages"></ul>
                    </div>
                    <input class="inputMessage" placeholder="Type here..." />
                </li>
            </ul>
        </div>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script src="https://cdn.socket.io/4.4.0/socket.io.js"></script>
<script src="../js/index.js"></script>
<script src="../js/chatroom.js"></script>