<div>
<div class="sectionright">
    <div class="image">
        <img src="{{icon}}" id="icon_img">
    </div>
    <p class="username">User1</p>
    <p class="button" type="button">Group</p>
    <p class="button" type="button">Follower</p>
    <p class="button" type="button">Chatroom</p>
    <p class="button" type="button">Setting</p>
</div>
<div class="sectionleft">
</div>
</div>