<canvas id="canvas"></canvas>
<canvas id="canvas2"></canvas>
<div class="container">
    <div class="center">
        <div class="left">
            <div><img src="../image/btn/logo_btn.png"></div>
            <div class="description"><a>Society of cryptocurrency</a></div>
        </div>
        <div class="right">
            <p>Login</p>
        </div>
    </div>
</div>
<script src="../js/loginbackground.js"></script>