<canvas id="canvas"></canvas>
<canvas id="canvas2"></canvas>
<div class="container">
    <div class="center">
        <div class="logo"><img src="../image/btn/logo_btn.png"></div>
        <div class="description"><a>Society of cryptocurrency</a></div>

        <div class="login">
            <p>Login</p>
        </div>
        <div class="inputarea">
            <a>Username:</a><input>
            <br>
            <a>Password:</a><input>
            <br><br>
            <button>Login</button>
            <button>Forget password</button>
            <button>Create account</button>
            <br><br><br>
            <button>Login with google</button>
            {{!-- <button>Login with facebook</button> --}}
            {{!-- Login Button --}}
            <a href="/login">
            <button type="button" class="btn btn-outline-dark waves-effect">
                Login
            </button></a>
            {{!-- Signup Button --}}
            <a href="/signup">
            <button type="button" class="btn btn-outline-dark waves-effect">
                Signup
            </button></a>
            {{!-- Facebook Button --}}
            <a href="/auth/facebook">
            <button type="button" class="btn btn-outline-dark waves-effect">
                Facebook
            </button></a>
            
        </div>
    </div>
</div>
<script src="../js/loginbackground.js"></script>