
<head>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.stock.min.js"></script>
    <script type="text/javascript">    </script>
</head>

<body>
    <div class="sectionleft">
        <button onclick="location.href='https://coinmarketcap.com/currencies/bitcoin/';">Bitcoin</button>
        <button onclick="location.href='https://coinmarketcap.com/currencies/ethereum/';">Ethereum</button>
        <button onclick="location.href='https://coinmarketcap.com/currencies/binance-coin/';">Binance Coin</button>
        <button onclick="location.href='https://coinmarketcap.com/currencies/tether/';">Tether</button>
        <button onclick="location.href='https://coinmarketcap.com/currencies/solana/';">Solana</button>
        <button onclick="location.href='https://coinmarketcap.com/currencies/cardano/';">Cardano</button>
        <button onclick="location.href='https://coinmarketcap.com/currencies/xrp/';">XRP</button>
        <button onclick="location.href='https://coinmarketcap.com/currencies/terra/';">Terra</button>
        <button onclick="location.href='https://coinmarketcap.com/currencies/polkadot/';">Polkadot</button>
        <button onclick="location.href='https://coinmarketcap.com/currencies/avalanch/';">Avalanche</button>
</div>
<div class="sectionright">
    <div id="chartContainer" style="height: auto; width: auto;"></div>
    </div>
</body>
<script type="text/javascript" src="../js/market.js"></script>