
<head>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.stock.min.js"></script>
    <script type="text/javascript">    </script>
</head>

<body>
    <div class="sectionleft">

</div>
<div class="sectionright">
    <div id="chartContainer" style="height: auto; width: auto;"></div>
    </div>
</body>
<script type="text/javascript" src="../js/market.js"></script>