<div class="container-fluid">
    <div class="row text-center">
        <div class="col-12" id="icon">
            <a href="#">
                <img src="image/btn/logo_btn.png" alt="icon">
            </a>
        </div>
        <div class="col-12" id="userId">
            <p>Id : 48466d229fa0df5d4c18ef91</p>
        </div>
        <div class="col-12" id="userName">
            <p>Mio Fong</p>
            <a class="btn" href="#">Edit<i class="fas fa-edit"></i></a>
        </div>
        <div class="col-12" id="joinDate">
            <p>Join : 14/12/2021</p>
        </div>
    </div>
</div>