<div class="container-fluid">
    <div class="row text-center">
        <div class="col-xl-3 col-lg-12" id="info_page">
            <div class="col-12" id="icon_btn">
                <div class="wrapper">
                    <div class="image">
                        <img src="{{icon}}" id="icon_img">
                    </div>
                    <div class="content">
                        <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                        <div class="text">No file chosen, yet!</div>
                    </div>
                    <div id="icon_cancel_btn"><i class="fas fa-times"></i></div>
                    <div class="file_name">File name</div>
                </div>
                <input type="file" id="default_btn" hidden>
                <button class="btn" id="custom_btn">Upload icon</button>
            </div>
            <div class="col-12 message" id="userId">
                <p>Id : 48466d229fa0df5d4c18ef91</p>
                <p>email : miofong@live.hk</p>
            </div>
            <div class="row">
                <div class="col-6 subscriber" id="subscriber">
                    <a class="btn" type="file" href="#" id="subscriber_list_btn"><span>0</span>Subscriber</a>
                </div>
                <div class="col-6 subscriber" id="follower">
                    <a class="btn" href="#" id="follower_list_btn"><span>0</span>Follower</a>
                </div>
            </div>
            <div class="col-12 info" id="userName">
                <div class="row">
                    <div class="col-6">
                        <p>Mio Fong</p>
                    </div>
                    <div class="col-6">
                        <a class="btn edit" href="#" id="edit_username_btn">Edit<i class="fas fa-edit"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 info" id="password">
                <div class="row">
                    <div class="col-6">
                        <p>********</p>
                    </div>
                    <div class="col-6">
                        <a class="btn edit" href="#" id="edit_passoword_btn">Edit<i class="fas fa-edit"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 info" id="gender">
                <div class="row">
                    <div class="col-6">
                        <p>male</p>
                    </div>
                    <div class="col-6">
                        <a class="btn edit" href="#" id="edit_gender_btn">Edit<i class="fas fa-edit"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 info" id="birthday">
                <div class="row">
                    <div class="col-6">
                        <p>15/09/1990</p>
                    </div>
                    <div class="col-6">
                        <a class="btn edit" href="#" id="edit_birthday_btn">Edit<i class="fas fa-edit"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 info" id="country">
                <div class="row">
                    <div class="col-6">
                        <p>Hong Kong</p>
                    </div>
                    <div class="col-6">
                        <a class="btn edit" href="#" id="edit_country_btn">Edit<i class="fas fa-edit"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 info">
                <div class="row">
                    <div class="col-6">
                        <a class="btn album" href="#" id="album_btn">Album<i class="fas fa-images"></i></a>
                    </div>
                    <div class="col-6">
                        <a class="btn logout" href="#" id="logout_btn">Logout<i class="fas fa-sign-out-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 message" id="joinDate">
                <p>Join : 14/12/2021</p>
            </div>
            <div class="col-12">
                <form>
                    <input class="form-control" type="text" placeholder="Write down something..." id="slogan_input"
                        value="">
                </form>
            </div>
        </div>
        <div class="col-xl-9 col-lg-12" id="edit_page">
            <section id="edit_title">
                <h2 class="editing">Ablum</h2>
            </section>
            <section id="subscriber_list" hidden>
                <div class="row">
                    <div class="col-8">
                        <a class="btn" href="#" id="subscriber_btn">
                            <div class="row">
                                <div class="col-6">
                                    <img src="../../../image/btn/logo_btn.png" alt="subscriber_icon"
                                        id="subscriber_icon">
                                </div>
                                <div class="col-6">
                                    <p id="subscriber_name">ZeWai</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-4" id="unfollow_btn">
                        <a class="btn logout" href="#">Unfollow</a>
                    </div>
                </div>
            </section>
            <section id="follower_list" hidden>
                <div class="row">
                    <div class="col-8">
                        <a class="btn" href="#" id="follower_btn">
                            <div class="row">
                                <div class="col-6">
                                    <img src="../../../image/btn/logo_btn.png" alt="follower_icon" id="follower_icon">
                                </div>
                                <div class="col-6">
                                    <p id="follower_name">Ivan</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-4" id="remove_follow_btn">
                        <div class="row">
                            <div class="col-6" id="follow_btn">
                                <a class="btn album" href="#">Follow</a>
                            </div>
                            <div class="col-6" id="remove_btn">
                                <a class="btn logout" href="#">Remove</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="edit_password_verify" hidden>
                <form>
                    <input class="form-control edit_input" type="password" placeholder="Enter password"
                        id="password_verify">
                </form>
            </section>
            <section id="edit_username" hidden>
                <form>
                    <input class="form-control edit_input" type="text"
                        placeholder="Enter not less than 6 characters new username..." id="new_username">
                </form>
            </section>
            <section id="edit_password" hidden>
                <form>
                    <div>
                        <input class="form-control edit_input" type="password"
                            placeholder="Enter not less than 8 characters new password..." id="new_password">
                        <input class="form-control edit_input" type="password" placeholder="Confirm new password"
                            id="confirm_new_password">
                    </div>
                </form>
            </section>
            <section id="edit_gender" hidden>
                <form>
                    <input class="form-control edit_input" list="gender-list" type="text" placeholder="Select gender"
                        id="new_gender" value="Male">
                    <datalist id="gender-list">
                        <option value="Male">
                        <option value="Female">
                        <option value="Disable">
                    </datalist>
                </form>
            </section>
            <section id="edit_birthday" hidden>
                <form>
                    <input class="form-control edit_input" type="date" id="new_birthday" name="trip-start"
                        value="1990-09-15">
                </form>
            </section>
            <section id="edit_country" hidden>
                <form>
                    <input class="form-control edit_input" list="country-list" type="text" placeholder="Select country"
                        id="new_country" value="Hong Kong">
                    <datalist id="country-list"></datalist>
                </form>
            </section>
            <section id="album_list" hidden>
                <ul class="row">
                    <li class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 col-xxl-3 photo_list">
                        <p class="text-center"><i class="fas fa-image"></i>{{photo}}</p>
                        <img src="../../../image/photo/{{photo}}" alt="{{photo}}">
                        <a class="btn submit col-6" href="#" id="album_download_btn">Download</a>
                        <a class="btn cancel col-6" href="#" id="album_delete_btn">Delete</a>
                    </li>
                </ul>
            </section>
            <section id="edit_submit" hidden>
                <a class="btn submit" href="#" id="edit_submit_btn">Submit<i class="fas fa-paper-plane"></i></a>
                <a class="btn cancel" href="#" id="edit_cancel_btn">Cancel<i class="fas fa-trash-alt"></i></a>
            </section>
        </div>
    </div>
</div>