<div class="container-fluid">
    <div class="row text-center">
        <div class="col-xl-3 col-lg-12" id="info_page">
            <div class="col-12" id="icon">
                <a href="#">
                    <img src="../image/btn/logo_btn.png" alt="icon">
                </a>
            </div>
            <div class="col-12 message" id="userId">
                <p>Id : 48466d229fa0df5d4c18ef91</p>
            </div>
            <div class="row">
                <div class="col-6 subscriber" id="subscriber">
                    <a class="btn" href="#"><span>0</span>Subscriber</a>
                </div>
                <div class="col-6 subscriber" id="followers">
                    <a class="btn" href="#"><span>0</span>Followers</a>
                </div>
            </div>
            <div class="col-12 info" id="userName">
                <div class="row">
                    <div class="col-6">
                        <p>Mio Fong</p>
                    </div>
                    <div class="col-6">
                        <a class="btn edit" href="#" id="userIdEdit">Edit<i class="fas fa-edit"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 info" id="password">
                <div class="row">
                    <div class="col-6">
                        <p>********</p>
                    </div>
                    <div class="col-6">
                        <a class="btn edit" href="#" id="passwordEdit">Edit<i class="fas fa-edit"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 info" id="gender">
                <div class="row">
                    <div class="col-6">
                        <p>male</p>
                    </div>
                    <div class="col-6">
                        <a class="btn edit" href="#" id="genderEdit">Edit<i class="fas fa-edit"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 info" id="birthday">
                <div class="row">
                    <div class="col-6">
                        <p>15/09/1990</p>
                    </div>
                    <div class="col-6">
                        <a class="btn edit" href="#" id="birthdayEdit">Edit<i class="fas fa-edit"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 info" id="country">
                <div class="row">
                    <div class="col-6">
                        <p>Hong Kong</p>
                    </div>
                    <div class="col-6">
                        <a class="btn edit" href="#" id="countryEdit">Edit<i class="fas fa-edit"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 info">
                <div class="row">
                    <div class="col-6">
                        <a class="btn album" href="#" id="album_btn">Album<i class="fas fa-images"></i></a>
                    </div>
                    <div class="col-6">
                        <a class="btn logout" href="#" id="logout_btn">Logout<i class="fas fa-sign-out-alt"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 message" id="joinDate">
                <p>Join : 14/12/2021</p>
            </div>
            <div class="col-12">
                <form>
                    <input class="form-control" type="text" placeholder="Write down something..." aria-label="slogan"
                        id="slogan_bar">
                </form>
            </div>
        </div>
        <div class="col-xl-9 col-lg-12" id="edit_page">
            <section id="edit_title">
                <h2 class="editing">username edit</h2>
            </section>
            <section id="edit_password_verify">
                <form>
                    <input class="form-control edit_input" type="password" placeholder="Enter password..."
                        aria-label="password">
                </form>
            </section>
            <section id="edit_submit">
                <a class="btn submit" href="#" id="edit_submit_btn">Submit<i class="fas fa-paper-plane"></i></a>
                <a class="btn cancel" href="#" id="edit_cancel_btn">Cancel<i class="fas fa-trash-alt"></i></a>
            </section>
        </div>
    </div>
</div>