<div id="bg"></div>
<div id="output">

</div>
<div class="container">
    <div class="center">
    
        <p>Create Account</p>
        <form action="/signup" method="post">
            <div class="email">
                <label for="username">Username
                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;:&emsp;</label><input
                    id="username" name="username" type="text" autocomplete="username" size="25" required />
            </div>
                {{#if error}}
                <p id="wrongmessage">{{error}}</p>
                {{/if}}
            {{!-- <div class="SecurityQ1">
                <label for="SecurityQ1">Security Question 1 :&emsp;</label><input id="SecurityQ1" name="SecurityQ1"
                    type="text" size="30" required />
            </div> --}}
            <div class="password">
                <label for="password">Password &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;:&emsp;</label><input 
                    size="25" id="password" name="password" type="password" autocomplete="password" required />
            </div>
            {{!-- <div class="SecurityAns1">
                <label for="SecurityAns1">Security Answer 1 &emsp;&emsp;:&emsp;</label><input id="SecurityAns1"
                    name="SecurityAns1" type="text" size="30" required />
            </div>
            <div class="password2">
                <label for="password2">Password confirm :&emsp;</label><input input size="25" id="password"
                    name="password" type="password" autocomplete="password" required />
            </div>
            <div class="SecurityQ2">
                <label for="SecurityQ2">Security Question 2 :&emsp;</label><input id="SecurityQ2" name="SecurityQ2"
                    type="text" size="30" required />
            </div>
            <div class="displayname">
                <label for="displayname">Display name &emsp;&emsp;&emsp;&emsp;:&emsp;</label><input size="25">
            </div>
            <div class="SecurityAns2">
                <label for="SecurityAns2">Security Answer 2 &emsp;&emsp;:&emsp;</label><input id="SecurityAns2"
                    name="SecurityAns2" type="text" size="30" required />
            </div>
            <div class="SecurityQ3">
                <label for="SecurityQ3">Security Question 3 :&emsp;</label><input id="SecurityQ3" name="SecurityQ3"
                    type="text" size="30" required />
            </div>
            <div class="gender">
                <label>Male
                    <input type="radio" checked="checked" name="radio">
                    <span class="checkmark"></span>
                </label>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                <label>Female
                    <input type="radio" name="radio">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="SecurityAns3">
                <label for="SecurityAns3">Security Answer 3 &emsp;&emsp;:&emsp;</label><input id="SecurityAns3"
                    name="SecurityAns3" type="text" size="30" required />
            </div>--}}
            <br><br>
        <button>Create account</button>
        </form>
            <a href="/login">
            <button>Back to login page</button></a>
        </div></div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/84/three.min.js"></script>
<script src="../js/loginbackground.js"></script>
<script src="../js/setting.js"></script>